<div> My Name Magesh


        <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Breed Name</th>
                    <th scope="col">Breed Image</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Dog</td>
                    <td><img height="200px" width="200px" [src]="imagePath"></td>
                  </tr>
                  
                </tbody>
              </table>

</div>